body {
  background: #001737;
  height: 90vh;
}

nav {
  background-color: transparent;
  /* border: 1px solid red; */
}
.navbar-brand {
  color: white;
}
ul {
  width: 85%;
  display: flex;
  justify-content: center;
}
ul li {
  padding-right: 20px;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #00a97f;
}
button.btn {
  border-radius: 25px;
  padding: 0.5em 1em;
  color: #00a97f;
}
button.btn:hover {
  background-color: #00a97f;
}
button.btn a {
  text-decoration: none;
  color: #00a97f;
}
button.btn:hover a {
  color: white;
}
button.btn i {
  padding-left: 5px;
}
div.context {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
div.context div {
  text-align: center;
  color: white;
}
h1 {
  font-size: 5vw;
}
p {
  font-size: 2vw;
}
p span {
  color: #00a97f;
}
button.download {
  background-color: #00a97f;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
}
button.download:hover {
  background-color: #008161;
}
button.download a {
  color: white;
  text-decoration: none;
}
.ellipse {
  position: absolute;
  z-index: -2;
}
.e1 {
  right: 0;
  top: 0;
  height: 100vh;
  /* width: 50%; */
  /* width: 35%; */
}
.e2 {
  left: 0;
  top: 0;
  width: 70%;
}
.back {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.context div p span.typing {
  position: relative;
  color: #00a97f;
}
.context div p span.typing::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  height: 2vw;
  width: 2px;
  background-color: #00a97f;
  transform: translateY(-50%);
  animation: blink 0.7s infinite;
}
.context div p span.typing.stop-blink::before {
  animation: none;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.direct {
  font-size: 10px;
  color: rgb(138, 138, 138);
  text-decoration: none;
}
.direct:hover {
  text-decoration: underline;
  color: white;
}
