* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
.parent {
  width: 100%;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)),
    url(Images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 20% 1fr;
  grid-template-columns: auto;
  align-content: flex-start;
  grid-template-areas:
    "link"
    "header2";
}
header .container {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: link;
  display: flex;
  justify-content: space-between;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .icon span {
  background-color: white;
  margin-bottom: 5px;
  height: 2px;
}
header .links .icon span:first-child {
  width: 100%;
}
header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
header .links .icon span:last-child {
  width: 100%;
} */
header div img {
  width: 60px;
  margin-top: 10px;
  cursor: pointer;
}
ul {
  padding-top: 35px;
  /* padding-right: 25px; */
}
ul a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  position: relative;
}
ul a:hover {
  color: #9751c5;
}
ul a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #8338ec;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
ul a:hover::before {
  width: 100%;
}
header h2 {
  position: relative;
  top: 150px;
  left: 100px;
  color: white;
  width: 50%;
  grid-area: header2;
}
.letter-spacing {
  letter-spacing: 5px;
  font-size: 60px;
  color: white;
}
header h2 span {
  font-size: 36px;
  color: #8338ec;
}
/* @media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
}
@media only screen and (max-width: 480px) {
  header h2 {
    top: 50px;
    left: 25px;
    width: 40%;
  }
  .letter-spacing {
    letter-spacing: 5px;
    font-size: 30px;
    color: white;
  }
  header h2 span {
    font-size: 16px;
  }
} */
/* ------------------ End Header ----------------- */
/* ------------------ Main ----------------- */
main {
  background-color: white;
  width: 100%;
}
main #about-us {
  height: 100vh;
  display: flex;
}
main #about-us img {
  max-width: 50%;
  height: 100%;
}
main #about-us .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-shadow: 2px 5px 15px black;
}
main #about-us .intro h2 {
  color: #121212;
  text-align: center;
  margin-bottom: 25px;
  font-size: 36px;
}
main #about-us .intro p {
  font-size: 18px;
  color: #333;
  line-height: 1.9;
}
.marked {
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #c57eff 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}
@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}
@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
#download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #eee;
}
#download .free,
#download .premium,
#download .pro-max {
  background-color: white;
  border-radius: 5px;
  padding: 25px 50px;
  width: 350px;
  height: 75%;
  text-align: center;
  color: #333;
  position: relative;
}
#download h2 {
  margin: 25px 0 10px 0;
}
#download .price {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: bold;
}
#download .price span {
  font-size: 16px;
  color: #4d4d4d;
}
#download .pros {
  text-align: left;
  /* margin-bottom: 150px; */
}
#download .pros p {
  margin-bottom: 15px;
}
.purchase {
  background-color: #9751c5;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  width: 70%;
  transition: transform 0.3s ease-out;
}
.purchase:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.3s ease-in-out;
}
#download div:nth-child(2) {
  height: 78%;
  color: white;
  background-image: linear-gradient(to bottom left, #a150ec 65%, #bf8eff);
}
#download div:nth-child(2) .price span {
  color: white;
}
#download div:nth-child(2) .purchase {
  background-color: white;
  color: #9751c5;
}
footer p {
  padding: 15px 0;
  text-align: center;
  background-color: #333;
  color: white;
  font-size: 18px;
}
